
<div class="bg-image h-[41.5rem]">
    <div class="mx-auto w-2/3 relative ">
        <h1 class="text-white font-serif text-6xl absolute top-[10rem] ">
            WELCOME TO BURGER STORE
        </h1>
        <p class="text-2xl text-white font-mono  leading-8 absolute top-[15rem] ">burg·er. (bûr′gər) n. 1. A sandwich consisting of a bun, a cooked beef patty, and often other
             ingredients such as cheese, onion slices, lettuce, or condiments. Often used in combination: a cheeseburger.
             2. A similar sandwich with a nonbeef filling. Often used in combination: a crab burger; a tofu burger.</p>
    </div>
</div>


